/clemens_code.log
/dhprojekt-doc.aux
/dhprojekt-doc.bbl
/dhprojekt-doc.bcf
/dhprojekt-doc.blg
/dhprojekt-doc.lof
/dhprojekt-doc.log
/dhprojekt-doc.lot
/dhprojekt-doc.out
/dhprojekt-doc.pdf
/dhprojekt-doc.run.xml
/dhprojekt-doc.tex.backup
/dhprojekt-doc.toc
/dhprojekt.kilepr
/erklaerung.aux
/ownstyle_old.tex
/README~
/clemens_text.tex.backup
/.gitignore~
/clemens_code.tex.backup
/ownstyle.sty.backup
